# Set the text encoding for all files in the project
* text=auto

# Set the line endings for all files in the project
* eol=lf
# *.sh        text eol=lf
# *.py        eol=lf
# *.yaml      eol=lf

# # Set the merge strategy for certain file types
# *.txt merge=union
# *.json merge=union

# # Set the diff tool for certain file types
# *.txt diff=
# *.json diff=

# # Set the merge tool for certain file types
# *.txt merge=
# *.json merge=

# Exclude all image files from the package
*.png export-ignore
*.jpg export-ignore
*.jpeg export-ignore
*.gif export-ignore
*.svg export-ignore

# Exclude test files and directories from the package
tests/* export-ignore
test/* export-ignore

# Exclude Sublime Text project and workspace files from the package
*.sublime-project export-ignore
*.sublime-workspace export-ignore
